<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 by Curt Binder (http://curtbinder.info)
  ~
  ~ This work is licensed under the Creative Commons
  ~ Attribution-ShareAlike 4.0 International License.
  ~ To view a copy of this license, visit
  ~ http://creativecommons.org/licenses/by-sa/4.0/deed.en_US
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.curtbinder.farmgame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.curtbinder.farmgame.GameActivity"
            android:label="@string/activity_game" >
        </activity>
        <activity
            android:name="info.curtbinder.farmgame.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="info.curtbinder.farmgame.db.ScoreProvider"
            android:authorities="info.curtbinder.farmgame.db"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
